/*
======================================
; Title: composer-list.component.css
; Author: Chris Gorham
; Date: 13 June 2023
; Description: This code supports CSS functionality for the composer-list component of the enterprise composer app
; Sources Used:
; Assignment 4.4 Instructions
;=====================================
*/

.black-header {
  background-color: black;
}

.white-text {
  color: white;
}

.composer-input {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
